@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Lexend:wght@100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
$rootFont: Geist;
$bgroundColorMain: #0E0E0E;
$bgroundColorSecondary:#191919;
$caseStudyFontFamily: (

    bodyFont: Lexend,
    titleFont: Literata,

    $FntSize:  (

        subHead: 0.5rem,
        body: 0.625rem,
        title: 1rem,

                    ),
);

$Colors: (
    primaryColor: #8D8DFD,
    secondaryColor: #FFFF,
);
